<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconapp"
        android:label="Deadlock"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name="com.jlds.deadlockguide.testevaipokrlh"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.dialogtest"
            android:exported="false"
            android:theme="@style/Theme.MyApp" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2104181702379477~7247510250" />

        <activity
            android:name="com.jlds.deadlockguide.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jlds.deadlockguide.MiragemProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.TestAdmob"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.BrumaProlife"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ViscosoProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.SeteProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.MoKrillProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.McProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.LadyProfile"
            android:exported="false"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.jlds.deadlockguide.KelvinProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.MalaProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.HeraProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.GuardaProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.GarraProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.EspectraProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.BebopProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.AdagaProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.YamatoProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityApFor"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityApThree"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityApTwo"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityApOne"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityVdFor"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityVdThree"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityVdTwo"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityVdOne"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityAdFor"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityAdThree"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ActivityAdTwo"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.BuildMainVd"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.BuildMainEsp"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.BuildAdOne"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.BuildMain"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ChicoProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.VindictaProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.AbramsProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.DinamoProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.ParadoxaProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.infernosProfile"
            android:exported="false" />
        <activity
            android:name="com.jlds.deadlockguide.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>